[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
[submodule "src/serial"]
	path = src/serial
	url = https://github.com/RoverRobotics-forks/serial-ros2.git
